extends ../layout

block content
	div
		h1 Authentication
		p.mReadWidth Identify yourself with the credentials provided to you by the administrator.

	.Flexbox.mCmpSpacing
		form(method="post").Box.Flexbox.mCol.mMinSpacing.iAlignLeft
			.rLabel Auth. Portal

			div
				label(for="UsernameField"): b User ID
				input#UsernameField(type="text" name="username" required autocomplete="off" autofocus)

			div
				label(for="PasswordField"): b Passkey
				input#PasswordField(type="password" name="password" required)

			.Flexbox.mRev.mSpaceBtwn.mVertCenter
				button(type="submit").mGreen.iAlignRight Log In
				a(href="/register").tGray Request Access

		if errors
			.Box.mSolid.mOutline.mRed.iAlignTop
				h2 <- Auth. Error(s)
				
				ul
					each error in errors
						li(data-field=error.path)=error.msg