extends layout

block content
	div
		h1 Ashoka University #[br] Visual Health Computing
		p.mReadWidth Ashoka University's VHC dashboard.

	.Box.mSolid.mOutline
		h2 For New Users:
		p #[a(href="/register"): b Register] if you do not have an account, navigate to the #[a(href="/ranker"): b ranker] otherwise.