#Error {
	--fg: var(--off-white);
	--bg: var(--red);

	padding         : var(--cmp-spacing);
	outline         : 1px solid var(--off-white);
	outline-offset  : calc(0px - var(--cmp-spacing) / 2);
	background-color: var(--bg);
	box-shadow      : 0.5em 0.5em #00000015;
	color           : var(--fg);
}