@font-face {
	font-weight: 200 700;
	src        : url("../fonts/commit_mono.woff2") format("woff2 supports variations"),
		url("../fonts/commit_mono.woff2") format("woff2-variations");
	font-family: "CommitMono";
}

html,
body {
	font-size            : 12px;
	font-family          : "CommitMono", monospace;
	font-feature-settings: "ss02";
}

b,
strong {
	font-weight: var(--font-bold);
}

small {
	font-size: 0.9em;
}