@font-face {
	font-family: "CommitMono";
	font-weight: 200 700;
	src        : url("../fonts/commit_mono.woff2") format("woff2 supports variations"),
				 url("../fonts/commit_mono.woff2") format("woff2-variations");
}

body {
	font-family          : "CommitMono", monospace;
	font-size            : 12px;
	font-feature-settings: "ss02";
}

b,
strong {
	font-weight: 600;
}

small {
	font-size: 0.9em;
}