input[type="text"],
input[type="password"] {
	width: 20em;
	border: 1px dotted var(--fg);
	padding: 0.5em;
}

:is(input[type="text"], input[type="password"]):focus {
	--bg: var(--black);
	--fg: var(--off-white);
	
	color: var(--fg);
	border-color: transparent;
	background-color: var(--bg);
}

label + :is(input[type="text"], input[type="password"]) {
	display: block;
	margin-top: 0.5em;
}

:is(input[type="text"], input[type="password"]).sError {
	animation: flash 0.2s 3;
}

@keyframes flash {
	0%, 49% {
		box-shadow: none;
		background: none;
	}

	50%, 100% {
		background: repeating-conic-gradient(var(--red) 0% 25%, transparent 0% 100%) 1px 0.5px / 2px 2px;
	}
}

input[type="radio"].mButton {
	width: 0;
	height: 0;
	margin: 0;
	position: absolute;
	visibility: hidden;
}

label:has(input[type="radio"].mButton) {
	border: 1px dotted var(--fg);
	cursor: pointer;
	padding: 0.3em;
	border-bottom: 2px solid var(--dark-gray);
}

label:has(input[type="radio"].mButton:disabled) {
	cursor: not-allowed;
	opacity: 0.2;
	background: none;
}

label:has(input[type="radio"].mButton:checked) {
	background: repeating-conic-gradient(var(--dark-gray) 0% 25%, transparent 0% 100%) 1px 0.5px / 2px 2px;
	font-weight: 600;
}

.RadioGroup > label:not(:last-child) {
	margin-right: -1px;
}

button {
	color: var(--bg);
	cursor: pointer;
	padding: 0.5em 0.7em;
	position: relative;
	font-weight: 600;
	white-space: nowrap;
	background-color: var(--fg);
}

button.mRed {
	background-color: var(--red);
}

button:disabled:not(.sLoading) {
	cursor: not-allowed;
	opacity: 0.2;
}

button:disabled.sLoading::after {
	top: 0;
	left: 0;
	color: var(--bg);
	width: 100%;
	height: 100%;
	cursor: progress;
	content: "[|]";
	display: flex;
	position: absolute;
	font-size: 1.2em;
	animation: spinner 0.6s infinite;
	background: repeating-conic-gradient(var(--fg) 0% 25%, color-mix(in srgb, var(--fg) 10%, var(--bg)) 0% 100%) 1px 0.5px / 2px 2px;
	align-items: center;
	font-weight: 700;
	justify-content: center;
}

@keyframes spinner {
	25% {
		content: "[/]";
	}

	50% {
		content: "[-]";
	}

	75% {
		content: "[\\]";
	}
}