#Page {
	margin: auto;
	background: linear-gradient(to right, var(--bg) 40%, transparent),
		radial-gradient(circle, var(--light-gray) 1px, var(--bg) 1px) 0 / 8px 8px;
	padding   : var(--cmp-spacing) var(--std-spacing);
	min-width : 1200px;
	max-width : 2000px;
	min-height: 100vh;
}

/* NAVIGATION =============================================================== */

#Navigation {
	counter-reset: navlink -1;
}

/* navigation link auto-numbering */
#Navigation .link::before {
	margin-right     : 0.5em;
	font-size        : 0.9em;
	content          : counter(navlink, decimal-leading-zero)".";
	counter-increment: navlink;
}

/* CONTENT ================================================================== */

#Content {
	overflow-x: hidden;
}

/* FOOTER =================================================================== */

#Footer {
	margin-top: auto;
	padding   : var(--cmp-spacing) 0;
	text-align: center;
}