/* VARIABLES ================================================================ */

:root {
	--off-white   : #bbbbbb;
	--black       : #111111;
	--lighter-gray: #b0b0b0;
	--light-gray  : #a1a1a1;
	--dark-gray   : #444444;
	--red         : #9e2a2b;
	--green       : #1e6149;
	--yellow      : #c09a33;
	--neon-green  : #58aa8d;
	--shadow      : #00000015;

	--std-spacing: 6ch;
	--cmp-spacing: 3ch;
	--min-spacing: 2ch;

	--font-bold: 600;
}

/* GLOBAL =================================================================== */

* {
	box-sizing: border-box;
}

html,
body {
	--bg: var(--off-white);
	--fg: var(--black);

	height    : 100%;
	overflow-y: auto;
	background: var(--bg);
	color     : var(--fg);
}

/* USER INTERACTION FEEDBACK ================================================ */

:focus {
	outline       : 1px dashed var(--fg);
	outline-offset: 2px;
}

::selection {
	background-color: var(--fg);
	color           : var(--bg);
}

/* LINKS ==================================================================== */

a {
	color: inherit;
}

a:focus {
	text-decoration: none;
}

/* HEADINGS ================================================================= */

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.5em;
}

:is(h1, h2, h3, h4, p, ul, ol)+ :is(h1, h2, h3, h4) {
	margin-top: 1.2em;
}

/* TEXT ELEMENTS ============================================================ */

:is(h1, h2, h3, h4, p, ul, ol)+ :is(p, ul, ol) {
	margin-top: 1em;
}

p,
ul,
ol {
	line-height: 1.5em;
}

p.mReadWidth {
	max-width: 750px;
}

ul {
	padding-left   : var(--cmp-spacing);
	list-style-type: square
}

li+li {
	margin-top: 0.5em;
}

/* TEXT FORMATTING ========================================================== */

small {
	font-size: 0.9em;
}

.tGray {
	color: var(--dark-gray);
}

.tRed {
	color: var(--red);
}

/* UTILITIES ================================================================ */

.uNoWrap {
	white-space: nowrap;
}

/* DIVIDER COMPONENT ======================================================== */

.Divider {
	width     : 100%;
	height    : 0;
	border-top: 1px dotted var(--fg);
}

/* BOX COMPONENT ============================================================ */

.Box {
	--highlight  : var(--black);
	--box-padding: var(--min-spacing);

	position        : relative;
	padding         : var(--box-padding);
	border          : 1px dotted;
	border-bottom   : 2px dotted;
	border-left     : 3px solid var(--highlight);
	background-color: var(--bg);
	box-shadow      : 0.5em 0.5em var(--shadow);
}

.Box.mCompact {
	--box-padding: 1ch;
}

.Box.mRoomy {
	--box-padding: var(--cmp-spacing);
}

.Box.mSolid {
	--bg: var(--black);
	--fg: var(--off-white);

	border          : none;
	background-color: var(--bg);
	color           : var(--fg);
}

.Box.mSolid.mRed {
	--bg: var(--red);
}

.Box.mSolid.mGreen {
	--bg: var(--green);
}

.Box.mSolid.mOutline {
	--box-padding: var(--cmp-spacing);

	outline       : 1px solid var(--off-white);
	outline-offset: calc(0px - var(--box-padding) / 2);
}

.Box:has(.cLabel, .lLabel, .rLabel) {
	margin-top: 0.5ch;
}

.Box:not(.mRoomy):has(.cLabel, .lLabel, .rLabel) {
	padding-top: calc(var(--box-padding) + 1ch);
}

.Box>:is(.cLabel, .lLabel, .rLabel) {
	position        : absolute;
	top             : 0;
	padding         : 0 1ch;
	background-color: var(--bg);
	white-space     : nowrap;
}

.Box>.cLabel {
	left     : 50%;
	transform: translate(-50%, -50%);
}

.Box>.lLabel {
	left     : calc(var(--box-padding) - 1ch);
	transform: translateY(-50%);
}

.Box>.rLabel {
	right    : calc(var(--box-padding) - 1ch);
	transform: translateY(-50%);
}

/* TABLES =================================================================== */

table {
	border         : 1px solid var(--light-gray);
	border-collapse: collapse;
	table-layout   : fixed;
}

thead {
	--fg: var(--off-white);
	--bg: var(--black);

	background-color: var(--bg);
	color           : var(--fg);
}

tbody:focus {
	outline         : none;
	background-color: var(--lighter-gray);
}

th,
td {
	padding: 1ch;
	border : 1px solid var(--light-gray);
}

th {
	font-weight: var(--font-bold);
}

th[scope="row"] {
	width      : 0.1%;
	text-align : right;
	white-space: nowrap;
}