:focus {
	outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
form {
	margin: 0;
}

input[type="text"],
input[type="password"] {
	border     : none;
	background : none;
	color      : inherit;
	font-size  : inherit;
	font-family: inherit;
}

button {
	padding         : 0;
	border          : none;
	background-color: inherit;
	font-size       : inherit;
	font-family     : inherit;
}