mixin ErrorWrapper(name)
	.div(style="display: inline-block; position: relative;")
		block

		if flash && flash.errors && flash.errors.for == name
			.Errors.Box.mSolid.mOutline.mRed.iAlignTop
				h2 <- Error(s)

				ul
					each error in flash.errors.err
						li(data-field=error.path)=error.msg